flowchart.json
[{"id":"35d49ce6.aaf194","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c0d3c20a.8f649","type":"debug","z":"35d49ce6.aaf194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1243.4286422729492,"y":116.5714340209961,"wires":[]},{"id":"e3b3342d.846da8","type":"ui_form","z":"35d49ce6.aaf194","name":"Input","label":"","group":"115d2b6.e1de4d5","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"Gender","type":"number","required":true,"rows":null},{"label":"Married","value":"Married","type":"number","required":true,"rows":null},{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Education","value":"Education","type":"number","required":true,"rows":null},{"label":"Self Employed","value":"Self_Employed","type":"number","required":true,"rows":null},{"label":"Applicant Income","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"Coapplicant Income","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"Loan Amount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan Term","value":"Loan_Term","type":"number","required":true,"rows":null},{"label":"Credit History Available","value":"Credit_History_Available","type":"number","required":true,"rows":null},{"label":"Housing","value":"Housing","type":"number","required":true,"rows":null},{"label":"Locality","value":"Locality","type":"number","required":true,"rows":null}],"formValue":{"Gender":"","Married":"","Dependents":"","Education":"","Self_Employed":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Term":"","Credit_History_Available":"","Housing":"","Locality":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"global","splitLayout":"","x":86.42863845825195,"y":304.428560256958,"wires":[["a2d1c7f9.bd5388","21990760.c90c78"]]},{"id":"6ddf269e.11a338","type":"ui_text","z":"35d49ce6.aaf194","group":"115d2b6.e1de4d5","order":2,"width":0,"height":0,"name":"Output","label":"Fraud Risk","format":"{{msg.payload}}","layout":"row-spread","x":1221.8002624511719,"y":206.20001602172852,"wires":[]},{"id":"21990760.c90c78","type":"debug","z":"35d49ce6.aaf194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":255.51439666748047,"y":357.857159614563,"wires":[]},{"id":"b6ece8f.4623f18","type":"inject","z":"35d49ce6.aaf194","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80.37149047851562,"y":199.14286422729492,"wires":[["a2d1c7f9.bd5388"]]},{"id":"550f3500.9cc16c","type":"debug","z":"35d49ce6.aaf194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":625.9429702758789,"y":301.5714168548584,"wires":[]},{"id":"a2d1c7f9.bd5388","type":"function","z":"35d49ce6.aaf194","name":"Pre-token","func":"global.set(\"Gender\", msg.payload.Gender)\nglobal.set(\"Married\", msg.payload.Married)\nglobal.set(\"Dependents\", msg.payload.Dependents)\nglobal.set(\"Education\", msg.payload.Education)\nglobal.set(\"Self_Employed\", msg.payload.Self_Employed)\nglobal.set(\"ApplicantIncome\", msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\", msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\", msg.payload.LoanAmount)\nglobal.set(\"Loan_Term\", msg.payload.Loan_Term)\nglobal.set(\"Credit_History_Available\", msg.payload.Credit_History_Available)\nglobal.set(\"Housing\", msg.payload.Housing)\nglobal.set(\"Locality\", msg.payload.Locality)\n\nvar apikey = \"XfSY87O3aifMDSI0RVQz_HR3Vn5HFEAlWOR098d0IzFZ\";\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\": \"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\": apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.65723037719727,"y":253.34286308288574,"wires":[["b9cffa9c.6914b8"]]},{"id":"b9cffa9c.6914b8","type":"http request","z":"35d49ce6.aaf194","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430.9429931640625,"y":253.1999740600586,"wires":[["50339d06.863cd4","550f3500.9cc16c"]]},{"id":"2df61e6e.a26732","type":"function","z":"35d49ce6.aaf194","name":"Parsing","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040.9430084228516,"y":165.8571367263794,"wires":[["6ddf269e.11a338","c0d3c20a.8f649"]]},{"id":"50339d06.863cd4","type":"function","z":"35d49ce6.aaf194","name":"Pre-prediction","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\n\nvar token = msg.payload.access_token\nvar instance_id = \"69a781ed-9d8b-4c15-b252-ee24a63dfeb2\"\nmsg.headers = {\"Content-type\": \"application/json\", \"Authorization\": \"Bearer\" + token, \"ML-Instance-ID\": instance_id} \nmsg.payload = {\"input_data\": [{\"fields\": [\"Gender\", \"Married\", \"Dependents\", \"Education\", \"Self_Employed\", \"ApplicantIncome\", \"CoapplicantIncome\", \"LoanAmount\", \"Loan_Term\", \"Credit_History_Available\", \"Housing\", \"Locality\"], \"values\": [[Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Term, Credit_History_Available, Housing, Locality]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":646.3716125488281,"y":211.28574562072754,"wires":[["cc60527a.89bbf"]]},{"id":"cc60527a.89bbf","type":"http request","z":"35d49ce6.aaf194","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8c3fecba-c13d-4399-8b65-9e6dc300e5dc/predictions?version=2021-03-04","tls":"","persist":false,"proxy":"","authType":"","x":835.6572341918945,"y":210.8285779953003,"wires":[["2df61e6e.a26732","ae1e2464.ed2bd8"]]},{"id":"ae1e2464.ed2bd8","type":"debug","z":"35d49ce6.aaf194","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1037.943016052246,"y":262.14290142059326,"wires":[]},{"id":"115d2b6.e1de4d5","type":"ui_group","name":"Credit Card Fraud Prediction","tab":"5c87dc07.8b9184","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c87dc07.8b9184","type":"ui_tab","name":"Credit Card Fraud Prediction","icon":"dashboard","disabled":false,"hidden":false}]